<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script type="module" src="scripts/script.js" defer></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="module" src="scripts/stripe.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>hello world</h1>
    <a href="/t">tt</a>
    <button type="submit" onclick="submitCommande()">valider la commande</button>
<%= toto %>
    <% Object.keys(toto).forEach(categorie => { %>
        
        <h3><%= categorie %></h3>
        <% toto[categorie].forEach(element=>{%>
            <%= element.nom %>
        <div id="item-<%=element.id%>" class="produit flex">
            <div class="produit-info flex">
                <div class="description">
                    <p><%- element.nom %></p>
                    <p><%- element.prix %></p>
                </div>
                <img src="img/<%= element.img %>" width="100">
            </div>
            <div class="ajout flex" >
                <div id="quantite_menu_<%=element.id%>" hidden class="selection flex"   cible=<%=element.id%>>
                    <button id="moin-<%=element.id%>" class="moin" onclick="enleverProduit(this)" cible=<%=element.id%>>
                        <svg clip-rule="evenodd" width="1em" height="1em" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m4.015 5.494h-.253c-.413 0-.747-.335-.747-.747s.334-.747.747-.747h5.253v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-.254v15.435c0 .591-.448 1.071-1 1.071-2.873 0-11.127 0-14 0-.552 0-1-.48-1-1.071zm14.5 0h-13v15.006h13zm-4.25 2.506c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm-4.5 0c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm3.75-4v-.5h-3v.5z" fill-rule="nonzero"/></svg>
                        <p class="d-none">-</p>
                    </button>
                    <p class="num"> </p>
                    <button class="boutton-plus plus" onclick="ajouterProduit(this)" cible=<%=element.id%>>+</button>
                </div>
                <button id="checked-<%=element.id%>" class="boutton-plus" onclick="ttt(this)" cible=<%=element.id%>>+</button>
            </div>
            </div>
        <hr>
        <% }) %>
    <% }) %>
    <div id="resultat_commande" hidden>
        <h2>command</h2>
        <div id="affiche-command" >
            
        </div>
        <button onclick="initialize()">paayer</button>
        <div id="checkout">
          <!-- Checkout will insert the payment form here -->
        </div>
    </div>
</body>
</html>